<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/head.ejs') %>
    <title>Profile Page</title>
</head>
<body>
    <div class="container">
        <header class="text-center">
            <h1>Profile Page</h1>
            <a href="/store" class="btn btn-primary btn-sm">Productos</a>
            <a href="/form" class="btn btn-info btn-sm">Formulario Backend</a>
            <a href="/logout" class="btn btn-light btn-sm">Logout</a>
        </header>
        <hr>
        <section class="container">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title"><span class="fa fa-user"></span> Local</h3>
                        <p>
                            <strong>id</strong>: <%= user._id %><br>
                            <strong>E-Mail</strong>: <%= user.email %> <br>
                            <strong>Contraseña</strong>: <%= user.password %>
                        </p>
                        <a href="/logout" class="btn btn-light">Logout</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>