.login {
    background: #56ab2f;
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);
    background: linear-gradient(to right, #a8e063, #56ab2f);
}

.signup {
    background: #000428;
    background: -webkit-linear-gradient(to right, #004e92, #000428);
    background: linear-gradient(to right, #004e92, #000428);
}

/* Card */

#cards-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    margin-top: 130px;
}

.productos__contenido {
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    transition: 0.5s;
    background: #f2f2f2;
}

.productos__contenido:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px, -8px);
}

.productos__imagen {
    width: 200px;
    height: 300px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.productos__titulo {
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}

.añadir-al-carrito {
    background-color: #0078e0;
    text-align: center;
    font-size: 24px;
    color: #fff;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
}

.img-product-in-cart {
    width: 125px;
    height: 150px;
}